<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="King_form_edit" 
        service="King" 
        entity="King" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #reign_start_date attr="reign_start_date" type="timestamp" label="reign_start_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="ADVISOR-king_id">
    <div layout-padding>
      <o-table 
        attr="AdvisorTable" 
        service="Advisor" 
        entity="Advisor" 
        keys="id"
        parent-keys="king_id:id"
        columns="name;king_id;expertise;id"  
        horizontal-scroll="yes"
        detail-form-route="Advisor" 
        edit-form-route="Advisor"
        visible-columns="name;king_id;expertise;id"  
        sort-columns="name" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #name attr="name" title=" name*" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="king_id" title="king_id">
    <o-table-cell-renderer-service attr="king_id" 
        service="King" entity="KingType" columns="id;name"
        parent-keys="id:king_id"
        value-column="name" keys="king_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #expertise attr="expertise" title="expertise" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="KINGDOM-ruler_id">
    <div layout-padding>
      <o-table 
        attr="KingdomTable" 
        service="Kingdom" 
        entity="Kingdom" 
        keys="id"
        parent-keys="ruler_id:id"
        columns="name;ruler_id;id"  
        horizontal-scroll="yes"
        detail-form-route="Kingdom" 
        edit-form-route="Kingdom"
        visible-columns="name;ruler_id;id"  
        sort-columns="name" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #name attr="name" title=" name*" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="ruler_id" title="ruler_id">
    <o-table-cell-renderer-service attr="ruler_id" 
        service="King" entity="KingType" columns="id;name"
        parent-keys="id:ruler_id"
        value-column="name" keys="ruler_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="QUEEN-king_id">
    <div layout-padding>
      <o-table 
        attr="QueenTable" 
        service="Queen" 
        entity="Queen" 
        keys="id"
        parent-keys="king_id:id"
        columns="name;king_id;id"  
        horizontal-scroll="yes"
        detail-form-route="Queen" 
        edit-form-route="Queen"
        visible-columns="name;king_id;id"  
        sort-columns="name" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #name attr="name" title=" name*" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="king_id" title="king_id">
    <o-table-cell-renderer-service attr="king_id" 
        service="King" entity="KingType" columns="id;name"
        parent-keys="id:king_id"
        value-column="name" keys="king_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>