<o-form-layout-manager attr="Knight" mode="tab" title="KNIGHT">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="KnightTable" 
            service="Knight" 
            entity="Knight" 
            title="KNIGHT"
            keys="id"
            columns="name;kingdom_id;title;id" 
            header-actions="R;D"
            visible-columns="name;kingdom_id;title;id"  
            sort-columns="name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #name attr="name" title=" name*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="kingdom_id" title="kingdom_id">
    <o-table-cell-renderer-service attr="kingdom_id" 
        service="Kingdom" entity="KingdomType" columns="id;name"
        parent-keys="id:kingdom_id"
        value-column="name" keys="kingdom_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #title attr="title" title="title" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>